body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -wbkit-font-smoothing: antialiased;
    background-color: #ffffff;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p{
    margin: 0 0 10px;
}


/* ---Container--- */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ---Header--- */

.header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;
    position: fixed;
    background: #31344e url("images/intro-bg.jpg") center no-repeat;

}

.header.fixed .header_inner {
    padding-bottom: 15px;
    padding-top: 15px;

    border-bottom: 0;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
}

/* ---Navigation--- */
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/* ---Intro--- */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: #31344e url("images/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.intro__subtitle{
    margin-bottom: 60px;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}

/* ---Button--- */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-style: 13px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn-red {
    background-color: #e84545;
    transition: background .2s linear;
}

.btn-red:hover {
    background-color: #b33030;
}

.btn-long {
    min-width: 280px;
}

/* ---Features--- */

.features {
    display: flex;
    margin: 100px 0;
    flex-wrap: wrap;
}

.features_item {
    width: 33.33333%;
    padding: 0 40px;
    text-align: center;
    margin: 25px 0;
}

.features_icon {
    margin-bottom: 25px;
}

.features_title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.features_text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/* ---Works--- */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works_item {
    
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}

.works_item:nth-child(4n) {
    border-right: none;
}

.works_photo {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.works_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

    background-color: rgba(232, 69, 69, .9);

    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}

.works_content:hover {
    opacity: 1;
}

.works_title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works_text {
    font-size: 14px;
    color: #fff;
}


/* ---Team--- */

.team {
    margin: 100px 0 70px;
}

.team_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item{
    width: 25%;
    margin-bottom: 30px;
    padding: 0 15px;
}

.team_photo {
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    height: auto;
}

.team_name {
    margin-bottom: 8px;
    color: #2d3033;
    font-size: 22px;
}

.team_position {
    margin-bottom: 15px;
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
}

.team_text {
    margin-bottom: 15px;
    color: #6c7279;
    font-size: 14px;
    line-height: 1.5;
}

/* ---Social--- */

.social {
    display: flex;
}

.social_footer {
    justify-content: center;
}

.social_item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 40px;
    height: 40px;

    background-color: #fff;
    border: 1px solid #c6cacc;

    transition: background .2s linear;
}

.social_icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .2s linear;
}

.social_item:hover {
    background-color: #e8ecee;
}

.social_item:hover .social_icon {
    fill: #e84545;
}

.social_footer .social_item{
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}
.social_footer 
.social_item:hover{
    background-color: #fff;
}

.social_footer .social_icon{
    fill: #fff;
}


/* ---Reviews--- */

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews_slider {
    height: 500px;
    overflow: hidden;
}

.reviews_slider.slick-initialized {
    height: auto;
}

.reviews_item {
    display: flex;
    flex-wrap: wrap;
}

.reviews_photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews_text {
    margin-bottom: 50px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.reviews_image {
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews_author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.slick-dots {
    display: flex;
    justify-content: center;
    
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    height: 15px;
    width: 15px;
    background-color: #fff;
    opacity: .5;
    border-radius: 50%;
    border: 0;
    padding: 0;

    font-size: 0;
    color: transparent;
}

.slick-dots button:focus {
    outline: none;
}

.slick-dots .slick-active button {
    opacity: .9;
}

/* ---Download--- */

.download {
    margin: 90px 0;

    text-align: center;
}

.download_title{
    margin-bottom: 10px;
    color: #2d3033;
    font-size: 28px;
    font-weight: 300;
}

.download_text {
    margin-bottom: 30px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

/* ---Download--- */

.footer {
    background-color: #3a3e64;
}

.footer_inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer_block {
    padding: 0 15px;
    width: 33.33333%;
    text-align: center;
}

.footer_title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer_adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    color:rgba(255, 255, 255, 0.5);
}

.footer_text {
    color:rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 1.5;
}

/* ---Copywright--- */

.copywright {
    padding: 20px 0;
    background-color: #313454;
}

.copywright_text {
    text-align: center;
    color: color: #808080;
    font-size: 14px;
    line-height: 1.5;
}

.copywright_text span {
    color: #fff;
}

/* ---Burger--- */
.burger {
    display: none;
    background: none;
    border: 0;
    padding: 9px 2px;
    cursor: pointer;
    outline: none;
}

.burger_item {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;
    font-size: 0;
    color: transparent;

    position: relative;
}

.burger_item:before,
.burger_item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger_item:before{
    top: -8px;
}

.burger_item:after {
    bottom: -8px;
}

/* ---Media--- */

@media (max-width: 1300px) {

    /* Works */

    .works_item {
        width: 50%;
    }
}

@media (max-width: 991px) {

    /* Nav */
    .nav {
        display: none;

        width: 100%;
        flex-direction: column;
        position: absolute;
        text-align: right;
        background: #31344e url("images/intro-bg.jpg") center no-repeat;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        margin-left: 0;
        padding: 9px 15px;
        border: 1px solid #4a4d6986;

        transition: all .3s linear;
    }

    .nav__link:hover {
        background-color: #696c8857;
    }

    /* Burger */

    .burger{
        display: block;
    }


    /* Intro */

    .intro__title {
        font-size: 40px;
    }

    /* Features */

    .features_item{
       width: 50% 
    }

    /* Team */

    .team_item {
        width: 50%;
        text-align: center;
    }

    .team_photo {
        margin-left: auto;
        margin-right: auto;
    }

    /* Social */

    .social{
        justify-content: center;
    }

    /* Reviews */

    .reviews_photo {
        width: 100%;
        margin: 15px 0 40px;
        overflow: hidden;
    }

    .reviews_content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }

}

@media (max-width: 767px) {
    /* Intro */

    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;
            
        font-size: 16px;
    }

    /* Features */

    .features {
        margin: 40px 0;
    }

    .features_item{
        width: 100% 
    }

    /* Works */

    .works_item {
        width: 100%;
        height: 300px;
    }

    /* Team */

    .team {
        margin: 60px 0 30px;
    }

    .team_item {
        width: 100%;
    }

    /* Reviews */

    .reviews_text {
        font-size: 25px;
    }

    /* Button */
    
    .btn-long {
        min-width: 260px;
    }

    /* Download */
    
    .download {
        margin: 50px 0;
    }

    .download_title {
        font-size: 24px;
    }

    /* Footer */

    .footer_inner{
        padding: 30px 0;
    }

    .footer_block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    
    .footer_block:last-child {
        margin-bottom: 0;
    }

}

@media (max-width: 414px) {
    /* Reviews */

    .reviews_image {
        right: -100px;
    }
}